<%
out_time = ['Утро', 'День', 'Вечер']
class_type = ['Экономичный', 'Бизнес', 'Первый']
payment = ['Наличный расчёт', 'Безналичный расчет', 'Кредитная карта']
years = ['"Взрослый"(>25 лет)', '"Молодежный"(12-25 лет)', '"Ребенок"(2-12 лет)', '"Младенец"(0-2 лет)']
-%>
<strong>Имя:</strong> <%= @params[:name] %> <br />
<strong>Телефон:</strong> <%= @params[:phone] %><br />
<strong>Факс:</strong> <%= @params[:fax] %><br />
<strong>Email:</strong> <%= @params[:email] %><br />
<br />
<strong>Дата вылета:</strong> <%= @params[:out_date] %><br />
<strong>Дата прилёта:</strong> <%= @params[:in_date] %><br />
<br />
<strong>Пункт вылета:</strong> <%= @params[:out_point] %><br />
<strong>Пункт прилёта:</strong> <%= @params[:in_point] %><br />
<strong>Маршрут:</strong> <%= @params[:route] %><br />
<strong>Авиакомпания:</strong> <%= @params[:company] %><br />
<strong>Примечания:</strong> <%= @params[:note] %><br />
<br />
<strong>Время вылета:</strong> <%= out_time[@params[:out_time].to_i] %><br />
<strong>Класс:</strong> <%= class_type[@params[:class_type].to_i] %><br />
<strong>Форма оплаты:</strong> <%= payment[@params[:payment].to_i] %><br />
<br />
<% @params[:passager].each do |key, p| %>
<strong>Пассажир <%= key %>:</strong><br />
  <strong>ФИО:</strong> <%= p[:fio] %><br />
  <strong>Возраст:</strong> <%= years[p[:years].to_i] %><br /><br />
<% end %>