<% content_for :menu do %>
  <ul>
      <li><%= link_to "Описание страны", country_path(@country.anchor), class: ("active" if params[:action] == 'show') %></li>
    <% if !@country.visa_information.blank? %>
      <li><%= link_to "Виза", visa_path(@country.anchor), class: ("active" if params[:action] == 'visa') %></li>
    <% end %>
    <% if @country.hotels.size > 0 %>
      <li><%= link_to "Отели", hotels_path(@country.anchor), class: ("active" if params[:action] == 'hotels') %></li>
    <% end %>
      <li><%= link_to "Заявка на подбор тура", request_tour_path(@country.anchor), class: ("active" if params[:action] == 'request_tour') %></li>
  </ul>
<% end %>