<%= render 'country_menu' %>

<% if @country.cities.size > 0 %>
  <h3>Города:</h3>
  <%= cities(@country) %>
  <hr />
<% end %>

<% unless @country.description.blank? %>
  <%= raw @country.description %>
<% end %>
