/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  

*/
body {
  background: url(/assets/bg.jpg) repeat;
  font: 13px/1.3 Tahoma, sans-serif;
  color: #475650;
}
body a {
  color: #475650;
}
body a:hover {
  text-decoration: none;
}
body i {
  font-style: italic;
}
body small {
  font-size: 11px;
}
body big {
  font-size: 15px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
body h1.bg,
body h2.bg,
body h3.bg,
body h4.bg,
body h5.bg,
body h6.bg {
  background: #B2C1C5;
  padding: 4px 5px;
}
body h1 {
  font-size: 21px;
}
body h2 {
  font-size: 18px;
}
body h3 {
  font-size: 16px;
}
body h4 {
  font-size: 14px;
}
body h5 {
  font-size: 12px;
}
body h6 {
  font-size: 10px;
}
body p {
  margin: 0 0 15px;
}
body img.image_left {
  float: left;
  margin: 0 15px 15px 0;
}
body img.image_right {
  float: right;
  margin: 0 0 15px 15px;
}
body strong {
  font-weight: bold;
}
body ul li {
  list-style: inside disc;
}
body ol li {
  list-style: inside decimal;
}
body ul,
body ol {
  margin-bottom: 15px;
}
body ul.no_li li,
body ol.no_li li {
  list-style: none;
}
body .ul_with_flags ul {
  margin-bottom: 0;
}
body .ul_with_flags li {
  clear: both;
  list-style: none;
  line-height: 19px;
  font-weight: bold;
  margin: 0 0 15px;
}
body .ul_with_flags li img {
  width: 16px;
  height: 11px;
  float: left;
  margin: 5px 8px 0 0;
}
body hr {
  border: none;
  border-bottom: 1px solid #475650;
  margin: 0 0 15px;
  padding: 0;
}
body .wrapper {
  width: 750px;
  margin: 0 auto;
}
body .left {
  text-align: left;
}
body .right {
  text-align: right;
}
body .center {
  text-align: center;
}
body .upper {
  text-transform: uppercase;
}
body .lower {
  text-transform: lowercase;
}
body form fieldset {
  margin-bottom: 5px;
}
body form fieldset legend {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background: #B2C1C5;
  padding: 4px 5px;
  margin-bottom: 15px;
}
body form fieldset .label {
  font-weight: bold;
  margin-bottom: 10px;
}
body form fieldset .label.center {
  margin-left: 260px;
  text-align: left;
}
body form fieldset input[type="text"],
body form fieldset input[type="email"],
body form fieldset textarea,
body form fieldset select {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 12px/15px Tahoma, sans-serif;
  padding: 3px 5px;
}
body form fieldset textarea {
  height: 70px;
}
body form fieldset input[type="text"],
body form fieldset input[type="email"],
body form fieldset textarea {
  border: 1px solid #475650;
  background: #fff;
}
body form fieldset input[type="text"].error,
body form fieldset input[type="email"].error,
body form fieldset textarea.error {
  border-color: #b00;
  color: #b00;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(200, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(200, 0, 0, 0.3);
}
body form fieldset select.error {
  -webkit-box-shadow: 0px 0px 5px #c80000;
  -moz-box-shadow: 0px 0px 5px #c80000;
  box-shadow: 0px 0px 5px #c80000;
}
body form fieldset table {
  width: 100%;
  margin-bottom: 6px;
}
body form fieldset table.radio {
  width: 90%;
  margin: 0 auto 15px;
}
body form fieldset table.radio td:first-child {
  text-align: right;
  padding: 4px 10px 0 0;
}
body form fieldset table.radio input[type="radio"] {
  float: left;
  margin: 3px 5px 0 0;
}
body form fieldset table.bilets {
  width: 70%;
  margin: 0 auto 6px;
}
body form fieldset table th.check,
body form fieldset table td.check {
  width: 20px;
}
body form fieldset table th.fio,
body form fieldset table td.fio {
  padding: 4px 10px 4px 5px;
}
body form fieldset table th.category,
body form fieldset table td.category {
  width: 150px;
}
body form fieldset table th.btn,
body form fieldset table td.btn {
  text-align: center;
}
body form fieldset table th,
body form fieldset table td {
  padding: 4px 0px;
  vertical-align: top;
}
body form fieldset table th {
  font-weight: bold;
}
body form fieldset table td label {
  width: 30%;
  margin-right: 3%;
  display: block;
  float: left;
}
body form fieldset table select {
  float: left;
}
body form fieldset .field {
  clear: both;
  margin: 0 0 10px;
}
body form fieldset .field label {
  float: left;
  text-align: right;
  width: 150px;
  padding-top: 2px;
}
body form fieldset .field .input {
  margin-left: 170px;
}
body form fieldset .field.btns {
  text-align: center;
}
body form.hotel select {
  width: auto;
}
body form.hotel .field label {
  width: 240px;
}
body form.hotel .field .input {
  margin-left: 260px;
}
body form hide {
  display: none !important;
}
.cols {
  overflow: hidden;
  margin: 0 0 20px;
}
.cols .col {
  float: left;
  margin-left: 20px;
}
.cols .col:first-child {
  margin-left: 0;
}
.cols.cols2 .col {
  width: 335px;
}
.cols.cols3 .col {
  width: 216.66666666666666px;
}
.cols.cols4 .col {
  width: 157.5px;
}
section {
  background: #c5d7da;
  padding: 0px 30px 20px;
}
nav {
  overflow: hidden;
  border-bottom: 1px solid #475650;
  padding: 25px 0 25px;
  margin: 0 0 20px;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
  padding: 6px 0 0 0;
  font-size: 12px;
}
nav ul li {
  list-style: none;
  float: left;
  margin: 0 0 0 15px;
}
nav ul li a.active {
  text-decoration: none;
  font-weight: bold;
}
header {
  background: #c5d7da;
  overflow: hidden;
}
header .image_right {
  margin: 0 30px 0 0 !important;
}
header img {
  display: block;
  float: left;
}
header .menu {
  width: 223px;
  height: 280px;
  float: left;
  background: #fff;
}
header .menu ul {
  clear: both;
  margin-left: 29px;
  line-height: 31px;
}
header .menu ul li {
  list-style: none;
  background: url(/assets/li.png) no-repeat 0 11px;
  font-size: 18px;
  padding-left: 25px;
}
header .menu ul li a {
  color: #36647c;
  text-decoration: none;
}
header .menu ul li a.active,
header .menu ul li a:hover {
  font-style: italic;
  font-weight: bold;
}
footer {
  background: url(/assets/footer.gif) no-repeat;
  height: 58px;
  color: #475650;
  padding: 18px 22px;
}
footer p {
  margin: 0;
}
