@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  

*/

@wrapper_width: 750px;

body {
  background: url(/assets/bg.jpg) repeat;
  font: 13px/1.3 Tahoma, sans-serif;
  color: #475650;
  a {color: #475650;&:hover{text-decoration: none;}}
  i {font-style: italic;}
  small {font-size: 11px;}
  big {font-size: 15px;}
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
    &.bg {
      background: #B2C1C5;
      padding: 4px 5px;
    }
  }
  h1 {font-size: 21px;}
  h2 {font-size: 18px;}
  h3 {font-size: 16px;}
  h4 {font-size: 14px;}
  h5 {font-size: 12px;}
  h6 {font-size: 10px;}
  p {margin: 0 0 15px;}
  img {
    &.image_left  {float: left; margin: 0 15px 15px 0;}
    &.image_right {float: right; margin: 0 0 15px 15px;}
  }
  strong {font-weight: bold;}
  ul li {list-style: inside disc;}
  ol li {list-style: inside decimal;}
  ul, ol {
    margin-bottom: 15px;
    &.no_li {
      li {list-style: none;}
    }
  }  
  .ul_with_flags {
    ul {margin-bottom: 0;}
    li {
      clear: both;
      list-style: none;
      line-height: 19px;
      font-weight: bold;
      margin: 0 0 15px;
      img {
        width: 16px;
        height: 11px;
        float: left;
        margin: 5px 8px 0 0;
      }
    }
  }
  hr {border: none;border-bottom: 1px solid #475650;margin: 0 0 15px;padding: 0;}
  .wrapper {
    width: 750px;
    margin: 0 auto;
  }
  .left {text-align: left;}
  .right {text-align: right;}
  .center {text-align: center;}
  .upper {text-transform: uppercase;}
  .lower {text-transform: lowercase;}
  form {
    fieldset {
      margin-bottom: 5px;
      legend {
        display: block;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        background: #B2C1C5;
        padding: 4px 5px;
        margin-bottom: 15px;
      }
      .label {
        font-weight: bold;
        margin-bottom: 10px;
        &.center {margin-left: 260px;text-align: left;}
      }
      input[type="text"], input[type="email"], textarea, select {
        width: 100%;
        .box-sizing(border-box);
        font: 12px/15px Tahoma, sans-serif;
        padding: 3px 5px;
      }
      textarea {
        height: 70px;
      }
      input[type="text"], input[type="email"], textarea {
        border: 1px solid #475650;
        background: #fff;
        &.error {border-color: #b00;color: #b00;.box-shadow(0px 0px 5px rgba(200, 0, 0, 0.3))}
      }
      select.error {.box-shadow(0px 0px 5px rgba(200, 0, 0, 1))}
      table {
        width: 100%;
        margin-bottom: 6px;
        &.radio {
          width: 90%;
          margin: 0 auto 15px;
          td:first-child {text-align: right;padding: 4px 10px 0 0;}
          input[type="radio"] {
            float: left;
            margin: 3px 5px 0 0;
          }
        }
        &.bilets {
          width: 70%;
          margin: 0 auto 6px;
        }
        th, td {
          &.check     {width: 20px;}
          &.fio       {padding: 4px 10px 4px 5px;}
          &.category  {width: 150px;}
          &.btn       {text-align: center;}
        }
        th, td {
          padding: 4px 0px;
          vertical-align: top;
        }
        th {
          font-weight: bold;
        }
        td {
          label {width: 30%;margin-right: 3%;display: block;float: left;}
        }
        select {
          float: left;
        }
      }
      .field {
        clear: both;
        margin: 0 0 10px;
        label {
          float: left;
          text-align: right;
          width: 150px;
          padding-top: 2px;
        }
        .input {
          margin-left: 170px;
        }
        &.btns {
          text-align: center;
        }
      }
    }
    &.hotel {
      select {width: auto;}
      .field label {width: 240px;}
      .field .input {margin-left: 260px;}
    }
    hide {display: none !important;}
  }
}

.cols {
  overflow: hidden;
  margin: 0 0 20px;
  .col {
    float: left;
    margin-left: 20px;
    &:first-child {margin-left: 0;}
  }
  &.cols2 .col {width: (@wrapper_width - 60px - 20px * 1) / 2;}
  &.cols3 .col {width: (@wrapper_width - 60px - 20px * 2) / 3;}
  &.cols4 .col {width: (@wrapper_width - 60px - 20px * 3) / 4;}
}

section {
  background: #c5d7da;
  padding: 0px 30px 20px;
}

nav {
  overflow: hidden;
  border-bottom: 1px solid #475650;
  padding: 25px 0 25px;
  margin: 0 0 20px;
  h1 {
    float: left;
  }
  ul {
    float: right;
    padding: 6px 0 0 0;
    font-size: 12px;
    li {
      list-style: none;
      float: left;
      margin: 0 0 0 15px;
      a.active {text-decoration: none;font-weight: bold;}
    }
  }
}

header {
  background: #c5d7da;
  overflow: hidden;
  .image_right {margin: 0 30px 0 0 !important;}
  img {
    display: block;
    float: left;
  }
  .menu {
    width: 223px;
    height: 280px;
    float: left;
    background: #fff;
    ul {
      clear: both;
      margin-left: 29px;
      line-height: 31px;
      li {
        list-style: none;
        background: url(/assets/li.png) no-repeat 0 11px;
        font-size: 18px;
        padding-left: 25px;
        a {
          color: #36647c;
          text-decoration: none;
          &.active, &:hover {
            font-style: italic;
            font-weight: bold;
          }
        }
      }
    }
  }
}

footer {
  background: url(/assets/footer.gif) no-repeat;
  height: 58px;
  color: #475650;
  padding: 18px 22px;
  p {margin: 0;}
}