<%= form_tag(hotel_mail_path, {id: 'hotel', class: "form hotel"}) do %>
  <fieldset>
    <legend>Бронирование отеля</legend>
    <input type="hidden" name="hotel[country]" value="<%= @country.title %>">
    <input type="hidden" name="hotel[city]" value="<%= @city.title %>">
    <input type="hidden" name="hotel[hotel]" value="<%= @hotel.title %>">
    <div class="field">
      <label>Дата заезда: *</label>
      <div class="input"><input class="date_i" name="hotel[in_date]" type="text" required></div>
    </div>
    <div class="field">
      <label>Дата выезда: *</label>
      <div class="input"><input class="date_i" name="hotel[out_date]" type="text" required></div>
    </div>
    <div class="field">
      <label>Ориентировочная стоимость за номер:</label>
      <div class="input"><input name="hotel[price]" type="text"></div>
    </div>
    <div class="field">
      <label>Дополнительные пожелания:</label>
      <div class="input"><textarea name="hotel[comment]"></textarea></div>
    </div>
    <div class="field">
      <label>Тип номера: *</label>
      <div class="input">
        <select required name="hotel[type]">
          <option value="0">Одноместный</option>
          <option value="1">Двуместный</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label>Кол-во номеров: *</label>
      <div class="input">
        <select required name="hotel[count]">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label>Форма оплаты: *</label>
      <div class="input">
        <select required name="hotel[byu]">
          <option value="0">наличная</option>
          <option value="1">безналичная</option>
          <option value="2">кредитная карта</option>
        </select>
      </div>
    </div>
    <div class="label center">Заказчик</div>
    <div class="field">
      <label>Контактное лицо: *</label>
      <div class="input"><input required name="hotel[contact]" type="text"></div>
    </div>
    <div class="field">
      <label>Телефон: *</label>
      <div class="input"><input required name="hotel[phone]" type="text"></div>
    </div>
    <div class="field">
      <label>Факс</label>
      <div class="input"><input name="hotel[fax]" type="text"></div>
    </div>
    <div class="field">
      <label>E-mail</label>
      <div class="input"><input name="hotel[email]" type="text"></div>
    </div>
    <div class="field btns">
      <input type="submit" value="Отправить">
      <input type="reset" value="Сброс формы">
    </div>
  </fieldset>
<% end %>