<%= raw @page.content %>

<% if @page.train? %>
  <%= render partial: 'layouts/train' %>
<% end %>

<% if @page.avia? %>
  <%= render partial: 'layouts/avia' %>
<% end %>

<% if @page.root? %>
  <%= countries %>
<% end %>

<% if @page.visas? %>
  <%= visas %>
<% end %>