<%= form_tag(avia_mail_path, {id: 'avia', class: "form"}) do %>
  <fieldset>
    <legend>Заказчик</legend>
    <div class="field">
      <label>Имя/Наименование:</label>
      <div class="input"><input type="text" name="avia[name]" required></div>
    </div>
    <div class="field">
      <label>Контактный телефон:</label>
      <div class="input"><input type="text" name="avia[phone]" required></div>
    </div>
    <div class="field">
      <label>Факс:</label>
      <div class="input"><input type="text" name="avia[fax]"></div>
    </div>
    <div class="field">
      <label>E-mail:</label>
      <div class="input"><input type="email" name="avia[email]"></div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Билеты</legend>
    <div class="label">Данные о пассажирах</div>
    <table class="bilets">
      <tr>
        <th class="fio">Фамилия, Имя, отчество</th>
        <th class="category">Категория</th>
      </tr>
      <tr>
        <td class="fio"><input type="text" name="avia[passager][0][fio]" required></td>
        <td>
          <select name="avia[passager][0][years]">
            <option value="0">"Взрослый"(&gt;25 лет)</option>
            <option value="1">"Молодежный"(12-25 лет)</option>
            <option value="2">"Ребенок"(2-12 лет)</option>
            <option value="3">"Младенец"(0-2 лет)</option>
          </select>
        </td>
      </tr>
      <tr class="after_pass">
        <td class="btn" colspan="2"><input class="add_passager" type="button" value="Добавить пассажира" /></td>
      </tr>
    </table>
    <div class="label">Даты и пункты отлета и прилета</div>
    <table>
      <tr>
        <td class="field">
          <label for="">Дата вылета:</label>
          <div class="input"><input class="date_i" type="text" name="avia[out_date]" required></div>
        </td>
        <td class="field">
          <label for="">Пункт вылета:</label>
          <div class="input"><input type="text" name="avia[out_point]" required></div>
        </td>
      </tr>
      <tr>
        <td class="field">
          <label for="">Дата прилета:</label>
          <div class="input"><input class="date_i" type="text" name="avia[in_date]" required></div>
        </td>
        <td class="field">
          <label for="">Пункт прилета:</label>
          <div class="input"><input type="text" name="avia[in_point]" required></div>
        </td>
      </tr>
    </table>
    <div class="field">
      <label>Маршрут:</label>
      <div class="input"><textarea name="avia[route]"></textarea></div>
    </div>
    <div class="field">
      <label>Авиакомпания:</label>
      <div class="input"><input type="text" name="avia[company]"></div>
    </div>
    <div class="label">Дополнительная информация</div>
    <table class="radio">
      <tr>
        <td>Вылет:</td>
        <td>
          <label><input name="avia[out_time]" checked value="0" type="radio">Утро</label>
          <label><input name="avia[out_time]" value="1" type="radio">День</label>
          <label><input name="avia[out_time]" value="2" type="radio">Вечер</label>
        </td>
      </tr>
      <tr>
        <td>Класс:</td>
        <td>
          <label><input name="avia[class_type]" checked value="0" type="radio">Экономический</label>
          <label><input name="avia[class_type]" value="1" type="radio">Бизнес</label>
          <label><input name="avia[class_type]" value="2" type="radio">Первый</label>
        </td>
      </tr>
      <tr>
        <td>Форма оплаты:</td>
        <td>
          <label><input name="avia[payment]" checked value="0" type="radio">Наличный расчет</label>
          <label><input name="avia[payment]" value="1" type="radio">Безналичный расчет 	</label>
          <label><input name="avia[payment]" value="2" type="radio">Кредитная карта</label>
        </td>
      </tr>
    </table>
    <div class="field">
      <label>Примечания:</label>
      <div class="input"><textarea name="avia[note]"></textarea></div>
    </div>
    <div class="field btns">
      <input type="submit" value="Отправить">
      <input type="reset" value="Сброс формы">
    </div>
  </fieldset>
<% end -%>