<% elems ||= false %>

<% if elems %>
  <% elem_class = elems.first.class.name %>
  <div class="cols cols4 ul_with_flags">
    <% elems.in_groups(4, false) do |group| %>
      <ul class="col">
        <% group.each do |elem| %>
          <% if elem %>
            <% case elem_class %>
              <% when "Country" %>
              <% if @visa_link %>
              <li>
                <%= image_tag drop(elem.image) if elem.image_file_size %>
                <a href="<%= visa_path(elem.anchor) %>"><%= elem.title %></a>
              </li>
              <% else %>
              <li>
                <%= image_tag drop(elem.image) if elem.image_file_size %>
                <a href="<%= country_path(elem.anchor) %>"><%= elem.title %></a>
              </li>
              <% end %>
              <% when "City" %>
              <li><a href="<%= city_path(elem.country.anchor, elem.anchor) %>"><%= elem.title %></a></li>
              <% when "Hotel" %>
              <li><a href="<%= hotel_path(elem.city.country.anchor, elem.city.anchor, elem.anchor) %>"><%= elem.title %></a></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>