<% header = @page.header if @page %>
<% header4 = @page.header4 if @page %>

<% header = 'countries' if @country %>
<% header4 = true if @country %>

<% header = 'countries' if @city %>
<% header4 = true if @city %>

<% header = 'hotels' if @hotel %>
<% header4 = true if @hotel %>

<header>

  <a href="/"><img src="/assets/headers/index/1x1.jpg"></a>
  <img src="/assets/headers/index/1x2.jpg">
  <img src="/assets/headers/<%= header %>/1x3.jpg">

  <div class="menu">
    <a href="/" class="logo"><img src="/assets/logo.png" alt="" /></a>
    <%= menu %>
  </div>
  <img src="/assets/headers/<%= header %>/2x2.jpg">
  <img src="/assets/headers/<%= header %>/2x3.jpg">

  <img src="/assets/headers/index/3x1.gif">
  <img src="/assets/headers/<%= header %>/3x2.jpg">
  <img src="/assets/headers/<%= header %>/3x3.jpg">
  <% if header4 == "true" %>
    <%# line 4: contacts country hotel %>
    <img class="image_right" src="/assets/headers/<%= header %>/4x3.jpg">
  <% end %>

</header>