<% h1 = '' %>
<% h1 = @page.title if @page && @page.anchor != '/' %>
<% h1 = @country.title if @country %>
<% h1 = "#{@country.title} - #{@city.title}" if @city %>
<% h1 = "#{@country.title} - #{@city.title} - #{@hotel.title}" if @hotel %>

<nav>
  <h1><%= h1 %></h1>
  <%= yield :menu %>
</nav>