<%= form_tag(train_mail_path, {id: 'train', class: "form"}) do %>
  <fieldset>
    <legend>Заказчик</legend>
    <div class="field">
      <label>Имя/Наименование:</label>
      <div class="input"><input type="text" name="train[name]" required></div>
    </div>
    <div class="field">
      <label>Контактный телефон:</label>
      <div class="input"><input type="text" name="train[phone]" required></div>
    </div>
    <div class="field">
      <label>E-mail:</label>
      <div class="input"><input type="email" name="train[email]"></div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Билеты</legend>
    <div class="label">Данные о пассажирах</div>
    <table class="bilets">
      <tr>
        <th class="fio">Фамилия, Имя, отчество</th>
        <th class="category">Дата рождения</th>
      </tr>
      <tr>
        <td class="fio"><input type="text" name="train[passager][0][fio]" required></td>
        <td>
          <input type="text" name="train[passager][0][birth]" required>
        </td>
      </tr>
      <tr class="after_pass">
        <td class="btn" colspan="2"><input class="add_passager" type="button" value="Добавить пассажира" /></td>
      </tr>
    </table>
    <div class="label">Даты и пункты отправления и прибытия</div>
    <table>
      <tr>
        <td class="field">
          <label for="">Дата отправления:</label>
          <div class="input"><input class="date_i" type="text" name="train[out_date]" required></div>
        </td>
        <td class="field">
          <label for="">Город отправления:</label>
          <div class="input"><input type="text" name="train[out_point]" required></div>
        </td>
      </tr>
      <tr>
        <td class="field">
          <label for="">Дата прибытия:</label>
          <div class="input"><input class="date_i" type="text" name="train[in_date]" required></div>
        </td>
        <td class="field">
          <label for="">Город прибытия:</label>
          <div class="input"><input type="text" name="train[in_point]" required></div>
        </td>
      </tr>
    </table>
    <div class="field">
      <label>Маршрут:</label>
      <div class="input"><textarea name="train[route]"></textarea></div>
    </div>
    <div class="label">Дополнительная информация</div>
    <table class="radio">
      <tr>
        <td>Вылет:</td>
        <td>
          <label><input name="train[out_time]" checked value="0" type="radio">Утро</label>
          <label><input name="train[out_time]" value="1" type="radio">День</label>
          <label><input name="train[out_time]" value="2" type="radio">Вечер</label>
        </td>
      </tr>
      <tr>
        <td>Класс:</td>
        <td>
          <label><input name="train[class_type]" checked value="0" type="radio">Экономический</label>
          <label><input name="train[class_type]" value="1" type="radio">Бизнес</label>
          <label><input name="train[class_type]" value="2" type="radio">Первый</label>
        </td>
      </tr>
      <tr>
        <td>Форма оплаты:</td>
        <td>
          <label><input name="train[payment]" checked value="0" type="radio">Наличный расчет</label>
          <label><input name="train[payment]" value="1" type="radio">Безналичный расчет 	</label>
          <label><input name="train[payment]" value="2" type="radio">Кредитная карта</label>
        </td>
      </tr>
    </table>
    <div class="field">
      <label>Примечания:</label>
      <div class="input"><textarea name="train[note]"></textarea></div>
    </div>
    <div class="field btns">
      <input type="submit" value="Отправить">
      <input type="reset" value="Сброс формы">
    </div>
  </fieldset>
<% end -%>